@charset "utf-8";

 /* Author: Dhiraj Kapali , Xiaoyi Sun */
@keyframes mymove {
   from {left: 0px;}
   to {left: 300px;}
}
body {
   font-family: Arial;
   padding: 0px;
   background: #3e0110;
 }
 
 /* Header/Blog Title */
 .header {
   padding: 30px;
   text-align: center;
   background-image: url('home_gumbo.jpg');
    background-repeat:no-repeat; 
    background-size: cover;
    background-attachment: fixed;
    width:auto;
    background-position: 100%;
    color:aliceblue;    
    font: 20px Arial,bold sans-serif;
    
 }

.header h1 {
  font-size: 50px;
  font-family: "Brush Script MT",cursive;
  border: none;
}
  
/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: rgb(9, 0, 0);
}
/* Style the topnav links */
.topnav a {
   float: left;
   display: block;
   color: #f2f2f2;
   text-align: center;
   padding: 14px 16px;
   border: none;
   text-decoration: none;
 }

 /* Change color on hover */
.topnav a:hover {
  background-color:rgb(233, 38, 38) ;
   color: black;
 }

  
  /* Add a card effect for articles */
  .card {
    background-color: rgb(253, 246, 246);
    padding: 20px;
    margin-top: 20px;
    width:96.5%;
    color:#3d0404;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  /*subnavigation setting*/
.subnav {
   float: left;
   overflow: hidden;
 }
 .subnav .subnavbtn {
   font-size: 16px;  
   border: none;
   outline: none;
   color: white;
   padding: 14px 16px;
   background-color: inherit;
   font-family: inherit;
   margin: 0;
 }
 
 .navbar a:hover, .subnav:hover .subnavbtn {
  background-color: rgb(233, 38, 38);
 }
 
 .subnav-content {
   display: none;
   position: absolute;
   left: 0;
   background-color: rgb(139, 26, 26);
   width: 100%;
   z-index: 1;
 }
 
 .subnav-content a {
   float: left;
   color: white;
   text-decoration: none;
 }
 
 .subnav-content a:hover {
  background-color: rgb(126, 66, 66);
   color: black;
 }
 
 .subnav:hover .subnav-content {
   display: block;
 }
 
  
 /* Footer */
.footer {
  padding: 20px;
  text-align: center;
  color: white;
  font-family: "Brush Script MT",cursive;
  background: rgb(0, 12, 0);
  margin: 0px;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }
  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    .topnav a {
      float: none;
      width: 100%;
    }
  }
  
  form {
     display: -webkit-flex;
     display: flex;
     -webkit-flex-flow: row wrap;
     flex-flow: row wrap;
  } 
  
  fieldset {
     background-color: rgb(254, 212, 212);
     -webkit-flex: 1 1 300px;
     flex: 1 1 300px; 
     margin: 10px;  
  }
  #div1 {
   position: relative;
   animation: mymove 5s infinite;
   animation-timing-function: ease;
}
  #custName{
    background-color: rgb(250, 215, 217);
  }
 
  input {
   margin:5px;
  }
  input:focus, select:focus, textarea:focus{
      background: rgb(255,255,180);
   }
   #nameBox:focus:valid, #delBox:focus:valid, #phoneBox:focus:valid{
      background: rgb(220,255,220) url(rb_okay.png) no-repeat right;
   }
   #nameBox:focus:invalid, #delBox:focus:invalid, #phoneBox:focus:invalid{
      background: rgb(255,230,230) url(rb_warning.png) no-repeat right;
   }
  
  legend {
     color: rgb(248, 229, 229);
     background-color: rgb(70, 4, 9);
  }
  
  label {
     display: inline-block;
     width: 150px;
  }
  input[type="submit"] {
     height: 50px;
     width: 300px;
  }
  
  input#sizeBox {
     width: 240px;
  }
